.welcome-card ion-img {
    max-height: 400px;
    overflow: hidden;
  }

  .event-detail {
    padding: 10px; 
    margin: 20px; 
    border: 1px solid #bbb; 
    border-radius: 10px; 
    background-color: #fff;
  }