<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      OpenDJ Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-grid>
    <ion-row>

      <ion-col *ngFor="let event of events" sizeXL="4" sizeSM="12">
        <ion-card class="welcome-card" color="light">
          <ion-img src="{{event.imgUrl}}"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>{{event.motto}}</ion-card-subtitle>
            <ion-card-title>{{event.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-chip>
              <ion-icon name="calendar" color="dark"></ion-icon>
              <ion-label>{{event.startDate}}</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-icon name="bowtie" color="dark"></ion-icon>
              <ion-label>{{event.startTime}}</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-icon name="map" color="dark"></ion-icon>
              <ion-label>{{event.city}}</ion-label>
            </ion-chip>
            <p>{{event.description}}</p>
            <ion-button size="small" color="primary" [routerLink]="['/event-detail', event.id]" fill="outline">Details</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>