<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add song to playlist</ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSearch()" placeholder="Search for songs...">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-list color="light" *ngIf="show">

    <ion-item color="light" *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <img src="https://cdn.ontourmedia.io/u2/non_secure/images/20171127/u2_amazon_v021511797684/large.jpg">
      </ion-thumbnail>
      <ion-label>{{item.title}}<br />
        <span style="font-size: 11px; color: #777;">The U2 Experience</span><br />
      </ion-label>
      <p>
        <ion-button (click)="dismiss()">Add</ion-button>
      </p>
    </ion-item>

  </ion-list>

</ion-content>